<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template">
<head>
<meta charset="ISO-8859-1" />
<title></title>
</head>
<body>


	<section layout:fragment="content">

		<div class="container">

			<form method="GET" th:action="@{/register}">
				<div class="col-md-8 col-md-offset-2">
				<div th:if="${msgErr}" class="alert alert-danger">
						l'email entree existe deja ! veuillez saisir un autre 
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">Ajouter un compte utilisateur</div>
						<div class="panel-body">

							<div class="row">
								<input type="text" name="nom"
									placeholder="nom du d'utilisateur " />
							</div>
							<div class="row">
								<input type="email" name="email"
									placeholder="email de l'utilisateur" />
							</div>
							<div class="row">
								<input type="password" name="pw" placeholder="mot de passe" />
							</div>
							<div class="row">
								role : <select name="role">
									<option value="f">service financier</option>
									<option value="a">service d'achat</option>
									<option value="s">service de stock</option>
								</select>
							</div>

						</div>
						<div class="panel-footer">
							<input type="submit" class="btn btn-default" value="enregistrer" />
						</div>
					</div>
				</div>
			</form>

		</div>

	</section>
</body>
</html>