footer{
  /*margin-bottom:0px;*/
}

.social-button
{
	margin-top: 25px;
}

img.icon{
  max-height:30px;
  display:inline-block;
  position:absolute;
  margin-left:5px;
  margin-top:-7px;
}

div.row.marg-top{
  margin-top:10px;
}

.marge
{
	margin-bottom: 10px;
	margin-top: 10px;

}

input[type=text],input[type=email],input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #ccc;
/* 	border: 5px solid black; */
    border-radius: 100px;
    box-sizing: border-box;
    outline: none;
}

input[type=text].error , input[type=password].error , input[type=email].error
{
	border : 3px solid red;
}

input[type=text].valide , input[type=password].valide , input[type=email].valide
{
	border : 3px solid #33FF33;
}

input[type=submit]
{
	width:100%;
	border-radius: 100px;
}

table
{
	margin: 30px;
}
div.hidden {
    visibility: hidden;
}
